body {
    font-family: 'Verdana';
    background-color: #B1DAE2;
    padding: 25px;
}

.background-title {
    background-color: #78485D;
    color: white;
    padding: 18px;
}
h3 {
    margin-top: 28px;
}

.background-p{
    background-color: #FFFACC;
    padding: 18px;
}

